.section {
  position: relative;
  &__starter::before {
    display: block;
    height: 95px;
    margin-top: -95px;
    content: "";
    // width: 100%;
  }
  &__image {
    position: absolute;
    // background-attachment: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  &--image {
    background-color: primary-color(0.9);
  }
}
