$primary-color: #152339;
$secondary-color: #26afea;
$danger-color: #f44336;
$danger-color-800: #c62828;
$warning-color: #ffec43;
$success-color: #4bb543;
$font1: "Nunito", sans-serif;
$navbarBorderSize: 5px;
$navbarHeight: 90px;
$navbarHeightShort: 70px;
